<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD</a>
    </nav>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Cumpleaños</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Madre</th>
                        <th>Padre</th>
                        <th>Sangre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data){ %>
                        <% for (var i=0; i<data.length; i++){ %>
                                <tr>
                                    <td><%= (i + 1) %></td>
                                    <td><%= data[i].nombres %></td>
                                    <td><%= data[i].apellido_1 %></td>
                                    <td><%= data[i].apellido_2 %></td>
                                    <td><%= data[i].fecha_nacimiento %></td>
                                    <td><%= data[i].direccion %></td>
                                    <td><%= data[i].numero_telefonico %></td>
                                    <td><%= data[i].nombre_madre %></td>
                                    <td><%= data[i].nombre_padre %></td>
                                    <td><%= data[i].tipo_de_sangre %></td>
                                    <td>
                                        <a href="/delete/<%= data[i].id %> " class="btn btn-danger">Eliminar</a>
                                        <a href="/update/<% data[i].id %>" class="btn btn-info">Editar</a>
                                    </td>
                                </tr>
                            <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombres" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido_1" placeholder="Apellido paterno" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido_2" placeholder="Apellido materno" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="date" name="fecha_nacimiento" placeholder="Cumpleaños" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" placeholder="Direccion" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="numero_telefonico" placeholder="Celular/Telefono" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre_madre" placeholder="Madre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre_padre" placeholder="Padre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo_de_sangre" placeholder="Tipo de sangre" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Guardar Alumno
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>