<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD</a>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/teachersforms/update/<%= data.id %>" method="post">
                            <div class="form-group">
                                <input type="text" name="names" value="<%= data.names %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname1" value="<%= data.lastname1 %>" class="form-control" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname2" value="<%= data.lastname2 %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="date" name="date_of_birth" value="<%= data.date_of_birth %>" class="form-control">
                            </div>
                            <div class="form-group"> 
                                <input type="text" name="address" value="<%= data.address %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="<%= data.email %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="profession" value="<%= data.profession %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="languages" value="<%= data.languages %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="work_shift" value="<%= data.work_shift %>" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Edit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>